body {
    padding-top: 54px;
    background: #9eae2c;
    background: linear-gradient(90deg, #9eae2c 1%, #d2de79 13%, #d9e389 26%, #bfcf48 50%, #9dad2b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9eae2c", endColorstr="#9dad2b", GradientType=1)

}

.gradient {
    background: #9eae2c;
    background: linear-gradient(90deg, #9eae2c 1%, #d2de79 13%, #d9e389 26%, #bfcf48 50%, #9dad2b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9eae2c", endColorstr="#9dad2b", GradientType=1)
}

.bg-dark {
    background-color: #4e5d6c !important;
}

.navbar {
    background-color: #fff;
    border-bottom: solid 1px #ccc;
}

.navbar-toggler {
    color: #f86320;
}

.navbar-brand {
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-brand img {
    height: 40px;
}

.nav-link {
    font-weight: 800;
    color: #000;
}

.nav-link:hover {

    color: #f86320;
}

#contactNav {
    border-radius: 10px;
    background-color: #f86320;
    color: #fff;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 400;

}

#contactNav:hover {
    background-color: #ff6f00;
}

.yellowColor {
    color: #f86320;
}

.yellow {
    background-color: #f86320;
}

.green {
    background-color: #9eae2c;
}

.yellow:hover {
    background-color: #ff6f00;
}

.button {
    border-radius: 10px;
    color: #fff;
    padding: 8px;
    /*font-weight: 600;*/
}

.button a {
    color: #fff;
    text-decoration: none;
}

.topPhone img {
    height: 490px;
}

.footer {
    padding-top: 20px;
}

.footerLogo {
    width: 200px;
}

.footer a {
    color: #bbb;
}

.footer a:hover {
    color: #fff;
}

.footer .address {
    color: #ccc;
}

.footer .white {
    color: #fff;
}

.storeBadge {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin-top: 25px;
    opacity: 0.5;
    background-color: #000;
}

.googlePlay {
    padding-top: 5px;
}

.storeBadge img {
    width: 110px;
    border-radius: 3px;
}

.storeBadge:hover {
    transition-duration: 0.8s;
    opacity: 1;
}

.headerStores {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 340px;
}

.headerStores .appStore {
    margin-left: 23px;
}

.headerStores img {
    padding-left: 10px;
}

.headerStores .storeBadge {
    /*height: 45px;*/
    opacity: 1;
}

.bannerContainer {
    height: 100%;
    background: #9eae2c;
    background: linear-gradient(90deg, #9eae2c 1%, #d2de79 13%, #d9e389 26%, #bfcf48 50%, #9dad2b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9eae2c", endColorstr="#9dad2b", GradientType=1)
}

.slogan {
    margin-top: 100px;
}

.callToAction {
    margin: auto;
    margin-top: 70px;

    width: 340px;
    border-radius: 20px;
    border: solid 1px #eee;
    transition-duration: 0.5s;
}

.callToAction:hover {
    border: solid 1px #fff;
    background-color: #8eae28;
    transition-duration: 0.5s;

}

.callToAction a {
    color: #fff;
    text-decoration: none;
}

.partnerItem img {
    padding: 30px;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    opacity: 0.6;
    filter: grayscale(80%);
    transition-duration: 0.3s;

}

.partnerItem img:hover {
    padding: 10px;
    opacity: 1;
    filter: grayscale(0);
    transition-duration: 0.9s;
    /*transform: rotate(360deg);*/
}

.storage {
    visibility: hidden;
    display: none;
}

.activePanel {
    background-color: #fff !important;
    color: #000;
    border-color: #f86320;
    border-bottom: none !important;
    border-radius: 0px;
    border-top-right-radius: 7px !important;
    border-top-left-radius: 7px !important;
}

.tabButton {
    position: relative;
    background-color: #f86320;
    color: #fff;
    border-radius: 10px;
    width: 130px;
    margin: auto;
    padding: 7px;
    font-size: 16px;
    /*font-weight: 600;*/

}

.tabButton:hover {
    background-color: #ff6f00;
}

.partners {
    border: solid 1px #ced4da;
    border-radius: 5px;
    background-color: #fff;
}

.becomeButton {
    cursor: pointer;
    background-color: #f86320;
    color: #fff;
    border-radius: 10px;
    width: 180px;
    margin: auto;
    padding: 8px;
    /*font-weight: 600;*/
}

.tabButton:hover {
    background-color: #ff6f00;
}

.disabledTabButton {
    visibility: hidden;
}



.tabHeaderRow .col-lg-4 {
    /*border-bottom: none !important;*/
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.tabHeader {
    cursor: pointer;
    background-color: #a7b73359;
    font-size: 18px;
    border-radius: 0px;
    border-bottom: solid 1px #f86320 !important;
}

.tabHeader .btn {
    cursor: pointer;
    background-color: #f86320;
}


.activePanel {
    background-color: #fff !important;
    color: #000;
    border-color: #f86320;
    border-bottom: solid 1px #fff !important;
    border-radius: 0px;
    border-top-right-radius: 7px !important;
    border-top-left-radius: 7px !important;
}

.moreText {
    font-size: 18px;
    font-weight: 600;
}

.activePanel h2 {
    color: #f86320 !important;
}

.contentLogo {
    padding: 10px;
    margin-left: 30px;
}

.businessSlogan {
    color: #f86320;
    /*font-weight: 800;*/
    font-size: 18px;
    font-weight: 600;
}

.showBox {
    border-top: none;
    padding-right: 0px !important;
    padding-left: 0px !important;
    border-bottom: solid 1px;
    border-radius: 7px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-color: #f86320;
}

.navAncor {
    visibility: hidden;
}

.unitHeader {
    font-weight: 800;
}

.icon {
    margin-left: 50px;
    font-size: 100px;
    color: #8CAB27;
}

.benefits {
}

.investmens {
}

.business {

}

.how_it_works {
    margin-left: 10px;
}

.qr img{
    width:120px;
    padding-top: 5px;
}

.apple_qr img{
    margin-left: 31px;
}

.google_qr img{
    margin-left: 9px;
}



/*.products {*/
/*background-color: #fff;*/
/*}*/

@media (max-width: 1000px) {

    .topPhone img {
        height: 250px;
        display: block; /*for the img inside your div */
        margin: 0 auto
    }

    .slogan {
        margin-top: 10px;
    }

    .callToAction {
        margin: auto;
        margin-top: 20px;

        width: 190px;
        border-radius: 20px;
        border: solid 1px #eee;
        transition-duration: 0.5s;
    }

    .headerStores {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 340px;
    }

    .showBox img {
        width: 40%;
    }

    .partnerItem img {
        padding: 150px;
        padding-top: 5px;
        padding-bottom: 5px;
        opacity: 0.6;
        transition-duration: 0.3s;

    }

    .partnerItem:hover img {
        padding: 140px;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    #contactNav {
        border-radius: 10px;
        background-color: #f86320;
        color: #fff;
        cursor: pointer;
        font-weight: 400;
        margin-left: 0px;
        width: 95px;
    }

    #contactNav:hover {
        background-color: #ff6f00;
    }

    .navbar-collapse {
        border: none;
    }

    /*.bannerContainer {*/
    /*height: 100%;*/
    /*background: #bfcf48;*/
    /*}*/
    #btn1, #btn2, #btn3 {
        display: none;
    }

    .card-body {
        height: auto;
    }

    .icon {
        margin-left: 0px;
    }


    .headerStores .appStore {
        margin-left: 0px;
    }

    .headerStores .googlePlayBadge {
        padding-left: 0px;
    }

    .apple_qr img{
        margin-left: 7px;
    }

    .google_qr img{
        margin-left: 8px;
    }

}